/*
    Footer
*/

@import '~sass/variables';

.cookies{
    // color: grey; -- usabilidad en audit google
    font-size: 15px;
    font-weight: 300;
    padding: $p;
    p:first-child {
        margin-bottom: $p/2;
    }
    a {
        color: darken($azul, 10); // -- usabilidad en audit google
    }
}