<footer>
  <div class="center">
    <div class="cookies legal">
      <p>
        Utilizamos cookies, si continua navegando consideramos que acepta su uso.
        <a href="http://codigo.victorciurana.com/politica_cookies.html" target="_blank" rel="noopener">
          Política de cookies
        </a>
      </p>
      <p>
        Portal web sin animo de lucro, licencia creative commons, cópiame, compárteme, modifícame. Código fuente en :
        <a href="https://github.com/ciurana2016/lacteosdiqueno"  target="_blank" rel="noopener">
          GitHub
        </a>
      </p>
      <p>
        No nos responsabilizamos de lo que hagas con los archivos que descargues en esta web, si pegas carteles lo haces bajo tu propia responsabilidad.
      </p>
    </div>    
  </div>
</footer>