<!-- Una imagen de "subcabecera" inspirada en lacteosdiquesi -->
<img class="titular" src="assets/titular–art.jpg" width="100%" alt="foto cabecera (los no)">

<!-- Contenido de la seccion -->
<section id="losno">
  <div class="center">
    <aside class="imagenes">
      <img src="assets/banner-no-1.jpg" alt="banner izquieda (los no)">
    </aside>
    <ul id="listados">
      <div class="listado">
        <h3>No a la caseina</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, impedit?</li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, quo!</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iusto?</li>
        </ul>
      </div>
      <div class="listado">
        <h3>No a la caseina</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, impedit?</li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, quo!</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iusto?</li>
        </ul>
      </div>
      <div class="listado">
        <h3>No a la caseina</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, impedit?</li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, quo!</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iusto?</li>
        </ul>
      </div>
      <div class="listado">
        <h3>No a la caseina</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, impedit?</li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, quo!</li>
          <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iusto?</li>
        </ul>
      </div>
    </ul>
  </div>
</section>