<!-- Una imagen de "subcabecera" inspirada en lacteosdiquesi -->
<img class="titular" src="assets/titular–art.jpg" width="100%" alt="foto cabecera (los no)">

<!-- Contenido de la seccion -->
<section id="losno">
  <div class="center">
    <aside class="imagenes">
      <img src="assets/banner-no-1.jpg" alt="banner izquieda (los no)">
    </aside>
    <ul id="listados">
      <div class="listado">
        <h3>NO AL MALTRATO ANIMAL</h3>
        <ul>
          <li>El mito de "la vaca lechera" no existe.</li>
          <li>Las vacas son inseminadas artificialmente y obligadas a tener hijos cada año, hijos a los que nunca verán, y por los cuales llorarán hasta que mueran.</li>
          <li>Si una vaca tiene un hijo macho, este automáticamente será vendido a un productor de carne y posiblemente matado en 24 horas.</li>
        </ul>
      </div>
      <div class="listado">
        <h3>NO A LAS ENFERMEDADES CARDIOVASCULARES</h3>
        <ul>
          <li>Los productos animales son los únicos que contienen colesterol, y este se pega a tus arterias causando todo tipo de enfermedades.</li>
        </ul>
      </div>
      <div class="listado">
        <h3>NO AL SOBREPESO</h3>
        <ul>
          <li>100 gramos de brócoli tienen 34 calorías, y solo 0,4 gramos de grasa.</li>
          <li>100 gramos de queso tienen 400 calorías, y 30 gramos de grasa.</li>
        </ul>
      </div>
      <div class="listado">
        <h3>NO AL CÁNCER</h3>
        <ul>
          <li>La proteína principal de la leche es la caseína. Esta proteína es la que más capacidad tiene de estimular las células cancerígenas.</li>
        </ul>
      </div>
    </ul>
  </div>
</section>