/*
    HOME
*/

@import '~sass/variables';

.center{
    padding: $p;
}

section#estudios_home {

    h3, li{
        margin-bottom: $p;
    }

    ul li{
        border: 1px solid lightgrey;
        border-radius: 3px;
        padding: 15px;
    }
    a{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    svg{
        fill: $azul;
        flex-shrink: 0;
    }

}

@media (max-width: 830px) {
    a.carteles{
        align-items: flex-start !important;
        flex-direction: column }
    a.carteles button{ margin-top: $p  }
}
